<h1>{{title}}</h1>
<nav>
  <ul>
    <li><a routerLink="/componente-uno" routerLinkActive="active" ariaCurrentWhenActive="page">Component Uno</a></li>
    <li><a routerLink="/componente-dos" routerLinkActive="active" ariaCurrentWhenActive="page">Componente Dos</a></li>
  </ul>
</nav>
<hr>
<nav>
  <a routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
  <a routerLink="/auth" routerLinkActive="active">Sign In</a>
</nav>
<hr>
<!-- The routed views render in the <router-outlet>-->
<router-outlet />
